[Desktop Entry]
Type=Application
Name=Solaar
Comment=Ratones Logitech
Exec=solaar -w hide
Icon=preferences-desktop-peripherals
Terminal=false
X-GNOME-Autostart-enabled=true
